.MyImg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.secondImg {
    width: 20rem;
    height: auto;
    aspect-ratio: 0;
    border-radius: 60%;
    object-fit: cover;

}

.aboutContainer {
    background-color: black;
    padding: 40px;
}