.introContainer {
    padding: 0 50px;
    background-color: black;
}

.IntroMsg {
    padding: 20px 150px 30px 10px;
}

svg {
    margin: 5px;
}

.IntroMsg-link:hover {
    fill: #dfb15b;
}

.IntroMsg p {
    align-self: flex-end;
    margin-bottom: 1rem;
    color: #fff;
    // text-align: ;
}
// .IntroMsg h1 {
//     color: --orange;
//     margin: 20px 0px;
   
// }

h4 {
    margin-top: 20px;
    color: #fff;
}

.aboutImg {
    display: flex;
    justify-content: end;
  
}

.myImg {
    width: 11rem;
    height: auto;
    aspect-ratio: 0;
    border-radius: 60%;
    object-fit: cover;
   
}


@media (max-width: 430px) {
    .aboutContainer {
            padding: 0 81px;
    }

    .aboutImg {
        flex: none;
    }
}

@media (max-width: 770px) {
    .myImg {
        width: 80%;
        margin-bottom: 10px;
    }

    .aboutImg {
        justify-content: center;
    }

    .IntroMsg {
    padding: 0px 0px 20px 0px;
    }

}
