.navContainer {
    padding-bottom: 20px;
}

.navbar {
    background-color: black;
    --bs-navbar-active-color: #dfb15b;
    --bs-navbar-hover-color: #dfb15b;
}


.nav-link {
    text-align: end;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

link

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #ff5f1f;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

@media (min-width: 1000px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
