@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../Sass/Intro.scss";
@import "../Sass/home.scss";
@import '../../../node_modules/swiper/swiper.scss';
@import "../Sass/aboutMe.scss";
@import "../Sass/contact.scss";



:root {
    height: 150vh;
}

body, html {
    height: 150vh;
    margin-bottom: 100px;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.navContainer {
    padding-bottom: 20px;
}



.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}