@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../Sass/Intro.scss";
@import "../Sass/home.scss";
@import '../../../node_modules/swiper/swiper.scss';
@import "../Sass/aboutMe.scss";
@import "../Sass/contact.scss";
@import "../Sass/nav.scss";

$primary: #dfb15b;


:root {
    height: 150vh;
    --orange: $primary;
}


body, html {
    height: 150vh;
    margin-bottom: 100px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h5, h3, p {
    color: $primary;
    line-height: 2;
}


.btn-primary {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dfb15b;
    --bs-btn-hover-border-color: #dfb15b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--orange);
    --bs-btn-active-border-color: var(--orange);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: $primary;
    --bs-btn-disabled-border-color: $primary;
    --bs-btn-color: #d29d3c;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: var(--orange);
}

.navbar-toggler { 
    background-color: #fff;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  
}

.navbar-toggler:hover {
    background-color:#dfb15b;


}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%; 
}

.footer-span {
    color: #dfb15b;
}

.row {
    --bs-gutter-x: none;
}